       <div class="container">
        <div class="row">
            <h1>{{ ez_field_value(content,'title1') }}</h1>
            <div class="column" style="width: 50%" >
            {{ ez_field_value(content,'text1') }}
            </div>
            <div class="column" style="vertical-align: center"><img  src="{{ ez_field_value(content,'image1').uri }}"></div>
        </div>
        <div class="row">
            <h1>{{ ez_field_value(content,'title2') }}</h1>
            <p style="font-size:20px">{{ ez_field_value(content,'text2') }}</p>
            <div><img src="{{ ez_field_value(content,'image2').uri }}"></div>
        </div>
        <div class="row">
            <h1>{{ ez_field_value(content,'title3') }}</h1>
            <p style="font-size:20px">{{ ez_field_value(content,'text3') }}</p>
            <div><img src="{{ ez_field_value(content,'image3').uri }}"></div>
        </div>
       </div>



